wenhua-parent/wenhua-service/src/test/resources/wsdl/LoginInfo.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://loginInfo.interfaceImp.netbar.ccm.gov/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LoginInfoService" targetNamespace="http://loginInfo.interfaceImp.netbar.ccm.gov/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://loginInfo.interfaceImp.netbar.ccm.gov/" elementFormDefault="unqualified" targetNamespace="http://loginInfo.interfaceImp.netbar.ccm.gov/" version="1.0">
<xs:element name="login" type="tns:login"/>
<xs:element name="loginResponse" type="tns:loginResponse"/>
<xs:element name="logout" type="tns:logout"/>
<xs:element name="logoutResponse" type="tns:logoutResponse"/>
<xs:element name="modifyPassword" type="tns:modifyPassword"/>
<xs:element name="modifyPasswordResponse" type="tns:modifyPasswordResponse"/>
<xs:complexType name="login">
<xs:sequence>
<xs:element minOccurs="0" name="username" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logout">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="logoutResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyPassword">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string"/>
<xs:element minOccurs="0" name="password" type="xs:string"/>
<xs:element minOccurs="0" name="newPassword" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyPasswordResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="loginResponse">
<wsdl:part element="tns:loginResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="modifyPasswordResponse">
<wsdl:part element="tns:modifyPasswordResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="modifyPassword">
<wsdl:part element="tns:modifyPassword" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="logout">
<wsdl:part element="tns:logout" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="logoutResponse">
<wsdl:part element="tns:logoutResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="login">
<wsdl:part element="tns:login" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="LoginInfo">
<wsdl:operation name="login">
<wsdl:input message="tns:login" name="login"></wsdl:input>
<wsdl:output message="tns:loginResponse" name="loginResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="logout">
<wsdl:input message="tns:logout" name="logout"></wsdl:input>
<wsdl:output message="tns:logoutResponse" name="logoutResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="modifyPassword">
<wsdl:input message="tns:modifyPassword" name="modifyPassword"></wsdl:input>
<wsdl:output message="tns:modifyPasswordResponse" name="modifyPasswordResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="LoginInfoServiceSoapBinding" type="tns:LoginInfo">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="login">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="login">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="loginResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="logout">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="logout">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="logoutResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="modifyPassword">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="modifyPassword">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="modifyPasswordResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LoginInfoService">
<wsdl:port binding="tns:LoginInfoServiceSoapBinding" name="LoginInfoPort">
<soap:address location="http://192.168.70.40:8080/netbar/services/loginInfo"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>